/*home */
* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (max-width: 480px) {
  header {
    background-color: #334756;
    height: 8vw;
    width: 1000vw;
  }
.navsizemain {
  padding: 13vw;
  font-size: larger;
}
a:hover{
  padding-top:15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  width: 15px;
}
body {
    background-color: #082032;
}
.balk1{
  background-color: #f0a500;
  color:#f0a500;
  width: 100vw;
  height: 4vw;
  position:relative;
     
}
.tekst1{
  color: whitesmoke;
}
.plaatje2,.plaatje3,.plaatje4,.plaatje5{
  height: 150px;
  width: 150px;
}
footer{
  display: none;
}
}
  @media only screen and (min-width: 480.1px) and (max-width: 768px) {
header{
  background-color: #334756;
  height: 10vw;
  width: 100vw;
}
.navsizemain {
    padding: 15px;
    font-size: x-large;
}
body {
  background-color: #082032;
}
.balk1{
  background-color: #f0a500;
  color:#f0a500;
}
.mySlides{
  display: nones;
  position: relative;
  top: 5vw;
  right: 15vw;
  border: #334766 solid 10px;
  height: 350px;
  width: 500px;
}
footer{
  display: none;
}
.tekst1{
  position: relative;
  top: 2.5vw;
  color: whitesmoke;
}
.plaatje2,.plaatje3,.plaatje4,.plaatje5{
  height: 175px;
  width: 175px;
  position: relative;
  top: 5vw;
}
}  
  
  @media only screen and (min-width: 768.1px){

body {
    background-color: #082032;
}

li {
    float: left;
}
li a:hover:not(.active) {
    background-color: #334766;
  }
  .active {
    background-color:#334766 ;
  }

ul {
    list-style: none;
    position: relative;
    top: 20px;
    }
a {
    text-decoration: none;
    color: aliceblue;
    font-size: x-large;
    padding: 30px;
}
a:hover {
    background-color: #334766;
    padding-top: 30px;
	padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    width: 80px;
}
.icon{
 display:none;
}
.winkelwagen {
    position: relative;
    left: 49vw;
    top: 30px;
}

.mySlides {
    display: nones;
    position: relative;
    top: 5vw;
    right: 23vw;
    border: #334766 solid 15px;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  .text {
    color: #f2f2f2;
    font-size: 15px;
    position: relative;
    right: 23vw;
    width: 100%;
    text-align: center;
    display: none;
  }
  
  .prev, .next {
    cursor: pointer;
    position: relative;
    right: 13vw;
    bottom: 5vw;
    width: auto;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    left:23vw ;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    position:relative;
    right: 23vw;
    top:4vw;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active, .dot:hover {
    background-color: #717171;
  }
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
.tekst1 {
    position: relative;
    bottom: 16vw;
    left: 18vw;
    width: 500px;
    color: white;
    font-size: 25px;
}
.plaatje2 {
    border: #334766 solid 15px;
    position: relative;
    bottom: 8vw;
    left: 12vw;
}

.plaatje3 {
    border: #334766 solid 15px;
    position: relative;
    bottom: 8vw;
    left: 17vw;
}

.plaatje4 {
    border: #334766 solid 15px;
    position: relative;
    bottom: 8vw;
    left: 22vw;
}
.plaatje5{
    border: #334766 solid 15px;
    position: relative;
    bottom: 8vw;
    left: 27vw;
}
 footer img {
  position: relative;
  left: 85vw;
}

footer{
  background-color: #334756;
  height: 3.5vw;
}
}

 /* navbar responsive */

 body {margin:0;font-family:Arial}

 .topnav {
     overflow: hidden;
     background-color: #333;
 }

 .topnav a {
     float: left;
     display: block;
     color: #f2f2f2;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 17px;
 }

 .active {
     background-color: #f0a500;
     color: white;
 }

 .topnav .icon {
     display: none;
 }

 .dropdown {
     float: left;
     overflow: hidden;
 }

 .dropdown .dropbtn {
     font-size: 17px;
     border: none;
     outline: none;
     color: white;
     padding: 14px 16px;
     background-color: inherit;
     font-family: inherit;
     margin: 0;
 }

 .dropdown-content {
     display: none;
     position: absolute;
     background-color: #f9f9f9;
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
 }

 .dropdown-content a {
     float: none;
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
     text-align: left;
 }
 .topnav a:hover, .dropdown:hover .dropbtn {
     background-color: #334766;
     color: white;
 }
 .dropdown-content a:hover {
     background-color: #334766;
     color: black;
 }
 .dropdown:hover .dropdown-content {
     display: block;
 }

 @media screen and (max-width: 620px) {
     .topnav a:not(:first-child), .dropdown .dropbtn {
         display: none;
     }
     .topnav a.icon {
         float: right;
         display: block;
     }
 }

 @media screen and (max-width: 620px) {
     .topnav.responsive {position: relative;}
     .topnav.responsive .icon {
         position: absolute;
         right: 0;
         top: 0;
     }
     .topnav.responsive a {
         float: none;
         display: block;
         text-align: left;
     }
     .topnav.responsive .dropdown {float: none;}
     .topnav.responsive .dropdown-content {position: relative;}
     .topnav.responsive .dropdown .dropbtn {
         display: block;
         width: 100%;
         text-align: left;
     }
 }