/*home */
* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (max-width: 480px) {
  header {
    background-color: #334756;
    height: 8vw;
    width: 1000vw;
  }
.navsizemain {
  padding: 13vw;
  font-size: larger;
}
a:hover{
  padding-top:15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  width: 15px;
}
body {
    background-color: #082032;
}
.balk1{
  background-color: #f0a500;
  color:#f0a500;
  width: 100vw;
  height: 4vw;
  position:relative;
  
}
}
  @media only screen and (min-width: 480.1px) and (max-width: 768px) {
header{
  background-color: #334756;
  height: 10vw;
  width: 100vw;
}
.navsizemain {
    padding: 15px;
    font-size: x-large;
}
body {
  background-color: #082032;
}
.balk1{
  background-color: #f0a500;
  color:#f0a500;
}
}  
  
  @media only screen and (min-width: 768.1px){
header {
    background-color: #334756;
    height: 4.6vw;
}
body {
    background-color: #082032;
}
.balk1 {
    background-color: #f0a500;
    position: relative;
    top: 60px;
    color: #f0a500;
    height: 30px;
}
li {
    float: left;
}
li a:hover:not(.active) {
    background-color: #334766;
  }
  .active {
    background-color:#334766 ;
  }

ul {
    list-style: none;
    position: relative;
    top: 20px;
    }
a {
    text-decoration: none;
    color: aliceblue;
    font-size: x-large;
    padding: 30px;
}
a:hover {
    background-color: #334766;
    padding-top: 30px;
	padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    width: 80px;
}
.winkelwagen {
    position: relative;
    left: 49vw;
    top: 30px;
}

.mySlides {
    display: nones;
    position: relative;
    top: 5vw;
    right: 23vw;
    border: #334766 solid 15px;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  .text {
    color: #f2f2f2;
    font-size: 15px;
    position: relative;
    right: 23vw;
    width: 100%;
    text-align: center;
    display: none;
  }
  
  .prev, .next {
    cursor: pointer;
    position: relative;
    right: 13vw;
    bottom: 5vw;
    width: auto;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    left:23vw ;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    position:relative;
    right: 23vw;
    top:4vw;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active, .dot:hover {
    background-color: #717171;
  }
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
.tekst1 {
    position: relative;
    bottom: 16vw;
    left: 18vw;
    width: 500px;
    color: white;
    font-size: 25px;
}
.plaatje2 {
    border: #334766 solid 15px;
    position: relative;
    bottom: 8vw;
    left: 12vw;
}

.plaatje3 {
    border: #334766 solid 15px;
    position: relative;
    bottom: 8vw;
    left: 17vw;
}

.plaatje4 {
    border: #334766 solid 15px;
    position: relative;
    bottom: 8vw;
    left: 22vw;
}
.plaatje5{
    border: #334766 solid 15px;
    position: relative;
    bottom: 8vw;
    left: 27vw;
}
 footer img {
  position: relative;
  left: 85vw;
}

footer{
  background-color: #334756;
  height: 3.5vw;
}
}