* {
    margin: auto;
    padding: 0;
}

@media screen and (max-width: 480px) {
    header {
        display: none;
    }
    #alles {
        display: none;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    header {
        display: none;
    }
    #alles {
        display: none;
    }
}

@media screen and (min-width: 769px) and (max-width: 1279px) {
    header {
        display: none;
    }
    #alles {
        display: none;
    }
}

@media screen and (min-width: 1280px) {
    #respond {
    display: none;
    }
}

#respond {
    color: white;
}
header {
    background-color: #334756;
    height: 4.6vw;
}
body {
    background-color: #082032;
}
.balk1 {
    background-color: #f0a500;
    position: relative;
    top: 60px;
    color: #f0a500;
    height: 30px;
}
li {
    float: left;
}
ul {
    list-style: none;
    position: relative;
    top: 20px;
    }
a {
    text-decoration: none;
    color: aliceblue;
    font-size: x-large;
    padding: 30px;
}
a:hover {
    background-color: #334766;
    padding-top: 30px;
	padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    width: 80px;
}
header {
    background-color: #334756;
    height: 4.6vw;
}
body {
    background-color: #082032;
}
.balk1 {
    background-color: #f0a500;
    color: #f0a500;
    height: 30px;
    margin: -10px 0px 0px 0px;
}
li {
    float: left;
}
ul {
    list-style: none;
    position: relative;
    top: 20px;
    }
a {
    text-decoration: none;
    color: aliceblue;
    font-size: x-large;
    padding: 30px;
}
a:hover {
    background-color: #334766;
    padding-top: 30px;
	padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    width: 80px;
}
p {
    color: white;
}


#merch1 {
    margin: 150px 0px 0px 150px;
/*    border: solid green; */
}
#merch2 {
    margin: 150px 0px 0px 150px;
/*    border: solid green */
}
#merch3 {
    margin: 150px 0px 100px 900px;
    position: relative;
    bottom: 693px;
}

#merch4 {
    margin: 150px 0px 100px 900px;
    position: relative;
    bottom: 688px;
}
#merch5 {
    margin: 150px 0px 100px 150px;
    position: relative;
    bottom: 600px;
/*    border: solid green;  */
}
#merch6 {
    margin: 150px 0px 100px 900px;
    position: relative;
    bottom: 945px;  
}
#merch7 {
    margin: 150px 0px 100px 150px;
    position: relative;
    bottom: 904px;
/*  border: solid green; */
}
#merch8 {
    margin: 150px 0px 100px 900px;
    position: relative;
    bottom: 1250px
}

body {
    height: 120px;
}
/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: white;
  }
  .popup2 {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: white;
  }
  .popup3 {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: white;
  }
  .popup4 {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: white;
  }
  .popup5 {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: white;
  }
  .popup6 {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: white;
  }
  .popup7 {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: white;
  }
  .popup8 {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: white;
  }

  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: rgb(78, 78, 78);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  .popup2 .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: rgb(78, 78, 78);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  .popup3 .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: rgb(78, 78, 78);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  .popup4 .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: rgb(78, 78, 78);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  .popup5 .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: rgb(78, 78, 78);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  .popup6 .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: rgb(78, 78, 78);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  .popup7 .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: rgb(78, 78, 78);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  .popup8 .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: rgb(78, 78, 78);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(255, 255, 255) transparent transparent transparent;
  }
  .popup2 .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(255, 255, 255) transparent transparent transparent;
  }
  .popup3 .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(255, 255, 255) transparent transparent transparent;
  }
  .popup4 .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(255, 255, 255) transparent transparent transparent;
  }
  .popup5 .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(255, 255, 255) transparent transparent transparent;
  }
  .popup6 .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(255, 255, 255) transparent transparent transparent;
  }
  .popup7 .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(255, 255, 255) transparent transparent transparent;
  }
  .popup8 .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(255, 255, 255) transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  .popup2 .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  .popup3 .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  .popup4 .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  .popup5 .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  .popup6 .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  .popup7 .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  .popup8 .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }