* {
    margin: auto;
    padding: 0;
}

header {
    background-color: #334756;
    height: 4.6vw;
}
body {
    background-color: #082032;
}
.balk1 {
    background-color: #f0a500;
    position: relative;
    top: 60px;
    color: #f0a500;
    height: 30px;
}
li {
    float: left;
}
ul {
    list-style: none;
    position: relative;
    top: 20px;
    }
a {
    text-decoration: none;
    color: aliceblue;
    font-size: x-large;
    padding: 30px;
}
a:hover {
    background-color: #334766;
    padding-top: 30px;
	padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    width: 80px;
}
.winkelwagen {
    position: relative;
    left: 49vw;
    top: 30px;
}
.plaatje1 {
    position: relative;
    top: 5vw;
    left: 5vw;
    border: #334766 solid 15px;
}
.tekst1 {
    position: relative;
    bottom: 16vw;
    left: 15vw;
    width: 500px;
    color: white;
}* {
    margin: auto;
    padding: 0;
}

header {
    background-color: #334756;
    height: 4.6vw;
}
body {
    background-color: #082032;
}
.balk1 {
    background-color: #f0a500;
    color: #f0a500;
    height: 30px;
    margin: -10px 0px 0px 0px;
}
li {
    float: left;
}
ul {
    list-style: none;
    position: relative;
    top: 20px;
    }
a {
    text-decoration: none;
    color: aliceblue;
    font-size: x-large;
    padding: 30px;
}
a:hover {
    background-color: #334766;
    padding-top: 30px;
	padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    width: 80px;
}
.winkelwagen {
    position: relative;
    left: 49vw;
    top: 30px;
}
.plaatje1 {
    position: relative;
    top: 5vw;
    left: 5vw;
    border: #334766 solid 15px;
}
.tekst1 {
    position: relative;
    bottom: 16vw;
    left: 15vw;
    width: 500px;
    color: white;
}

#merch1 {
    margin: 150px 0px 0px 150px;
}
#merch2 {
    margin: 150px 100px 0px 150px;
}
#merch3 {
    margin: 150px 0px 100px 900px;
    position: relative;
    bottom: 608px;
}
#merch4 {
    margin: 150px 0px 100px 900px;
    position: relative;
    bottom: 608px;
}
#merch5 {
    margin: 150px 0px 100px 150px;
    position: relative;
    bottom: 600px;
}
#merch6 {
    margin: 150px 0px 100px 900px;
    position: relative;
    bottom: 904px;   
}
#merch7 {
    margin: 150px 0px 100px 150px;
    position: relative;
    bottom: 904px;
}
#merch8 {
    margin: 150px 0px 100px 900px;
    position: relative;
    bottom: 1208px
}

body {
    height: 120px;
}
.winkelwagen { 
    margin: -100px 0px -10px -100px;

}