/*home */
* {
    margin: auto;
    padding: 0;
}
@media screen and (max-width: 480px) {
  header {
      height: 13vw;
      width: 1000vw;
  }
  li {
    float: left;
  }
  .navsizemain {
      padding: 10px;
      font-size: larger;
  }
  a:hover {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px;
      width: 15px;
  }
  .containers img {
    width: 75%;
    height: auto;
  }
  .containers {
    position: relative;
    left: 35vw;
    top: 15vw;
    width: 100%;
    max-width: 400px;
  }
  .btns {
    position: relative;
    left: 35vw;
    bottom: 23vw;
  }
  #infotext {
    display: none;
  }
  body {
    height: 200vw;
  }
  .nav2 {
    position: relative;
    right: 100vw;
  }
  .sizenav {
    font-size: larger;
  }
  .smash {
    position: relative;
    top: 0.5vw ;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  header {
      height: 11vw;
      width: 100vw;
  }
  .navsizemain {
      padding: 15px;
      font-size: x-large;
  }
  a:hover {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    width: 15px;
  }
  .containers img {
    width: 150%;
    height: auto;
  }
  .containers {
    position: relative;
    left: 15vw;
    width: 100%;
    max-width: 400px;
  }
  .btns {
    position: relative;
    left: 40vw;
    bottom: 25vw;
  }
  body {
    height: 200vw;
  }
  .nav2 {
    position: relative;
    top: 0.7vw;
    right: 50vw;
  }
  .smash {
    position: relative;
    bottom: 2.9vw;
    left: 48vw;
  }
  li {
    float: left;
  }
  #infotext {
    display: none;
  }
  .sizenav {
    font-size: larger;
  }
}
@media screen and (min-width: 769px) and (max-width: 1279px) {
  header {
      height: 7vw;
      width: 100vw;
  } 
  li {
    float: left;
  }
  .navsizemain {
      padding: 30px;
      font-size: x-large;
  }
  a:hover {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    width: 15px;
  }
  .containers img {
    width: 100%;
    height: auto;
  }
  .containers {
    position: relative;
    width: 100%;
    max-width: 400px;
  }
  .btns {
    position: relative;
    bottom: 11vw;
    left: 16vw;
  }
  body {
    height: 120vw;
  }
  .nav2 {
    position: relative;
    right: 45vw;
    font-size: medium;
  }
  .smash {
    font-size: x-large;
    position: relative;
    right: 37vw;
  }
  #infotext {
    position: relative;
    bottom: 9vw;
    left: 3vw;
  }
  .minecraftinfo, .dutyinfo, .smashinfo {
    height: 160px;
  }
  .sizenav {
    font-size: x-large;
  }
}
@media screen and (min-width: 1280px) {
  header {
      height: 4vw;
      width: 100vw;
  } 
  li {
    float: left;
  }
  .navsizemain {
      padding: 30px;
      font-size: xx-large;
  }
  .sizenav {
    font-size: x-large;
  }
  a:hover {
    padding-top: 30px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 15px;
    width: 15px;
  }
  .containers img {
    width: 100%;
    height: auto;
  }
  .containers {
    position: relative;
    width: 100%;
    max-width: 400px;
  }
  .btns {
    position: relative;
    bottom: 9vw;
    left: 14vw;
  }
  body {
    height: 120vw;
  }
  .nav2 {
    position: relative;
    top: 4px;
    right: 47vw;
  }
  #infotext {
  position: relative;
  bottom: 9vw;
  }
  .smash {
    position: relative;
    font-size: x-large;
  }
}
html {
    max-width: 100%;
    overflow-x: hidden;
}

header {
    background-color: #334756;
}
body {
    background-color: #082032;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */

}
.balk1 {
    background-color: #f0a500;
    position: relative;
    top: 60px;
    color: #f0a500;
    height: 30px;
}
ul {
    list-style: none;
    position: relative;
    top: 20px;
    }
.nav1 a {
    text-decoration: none;
    color: aliceblue;
}
.nav1 a:hover {
    background-color: #334766;
    padding-top: 30px;
	padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    width: 80px;
}
.winkelwagen {
    position: relative;
    left: 49vw;
    top: 30px;
}
.plaatje1 {
    position: relative;
    top: 5vw;
    left: 5vw;
    border: #334766 solid 15px;
}
.tekst1 {
    position: relative;
    bottom: 16vw;
    left: 15vw;
    width: 500px;
    color: white;
}
.nav2 a {
    text-decoration: none;
    color: aliceblue;
    padding: 4px;
}
.nav2 a:hover {
    background-color: #db901f;
}
.go {
    border: #334766 solid 10px;
    margin-top: 5vw;
    margin-left: 5vw;
}
h1 {
    color: white;
}
.h1 {
    position: relative;
    left: 60vw;
    bottom: 20vw;
}
.h2 {
    position: relative;
    left: 55vw;
    bottom: 20vw;
}
.h3 {
    position: relative;
    left: 60vw;
    bottom: 20vw;
}
p {
    color: white;
}
.p1 {
    width: 30vw;
    font-size: larger;
    position: relative;
    bottom: 17vw;
    left: 20vw;
}
.p2 {
    width: 30vw;
    font-size: larger;
    position: relative;
    bottom: 17vw;
    left: 20vw;
}
.p3 {
    width: 30vw;
    font-size: larger;
    position: relative;
    bottom: 17vw;
    left: 20vw;
}
/*review box*/
.container{
    position: relative;
    width: 400px;
    background: #334766;
    padding: 20px 30px;
    border: 1px solid #082032;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .container .post{
    display: none;
  }
  .container .text{
    font-size: 25px;
    color: #666;
    font-weight: 500;
  }
  .container .edit{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 16px;
    color: #666;
    font-weight: 500;
    cursor: pointer;
  }
  .container .edit:hover{
    text-decoration: underline;
  }
  .container .star-widget input{
    display: none;
  }
  .star-widget label{
    font-size: 40px;
    color: rgb(105, 105, 105);
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
  }
  input:not(:checked) ~ label:hover,
  input:not(:checked) ~ label:hover ~ label{
    color: #fd4;
  }
  input:checked ~ label{
    color: #fd4;
  }
  input#rate-5:checked ~ label{
    color: #fe7;
    text-shadow: 0 0 20px #952;
  }
  #rate-1:checked ~ form header:before{
    content: "I just hate it ";
  }
  #rate-2:checked ~ form header:before{
    content: "I don't like it ";
  }
  #rate-3:checked ~ form header:before{
    content: "It is awesome ";
  }
  #rate-4:checked ~ form header:before{
    content: "I just like it ";
  }
  #rate-5:checked ~ form header:before{
    content: "I just love it ";
  }
  .container form{
    display: none;
  }
  input:checked ~ form{
    display: block;
  }
  form header{
    width: 100%;
    font-size: 25px;
    color: #fe7;
    font-weight: 500;
    margin: 5px 0 20px 0;
    text-align: center;
    transition: all 0.2s ease;
  }
  form .textarea{
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  form .textarea textarea{
    height: 100px;
    width: 300px;
    outline: none;
    color: #eee;
    border: 1px solid #082032;
    background: #082032;
    padding: 10px;
    font-size: 17px;
    resize: none;
  }
  .textarea textarea:focus{
    border-color: #082032;
  }
  form .btn{
    height: 45px;
    width: 100%;
    margin: 15px 0;
  }
  form .btn button{
    height: 100%;
    width: 100%;
    border: 1px solid #334766;
    outline: none;
    background: #082032;
    color: rgb(121, 121, 121);
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    
  }
  form .btn button:hover{
    background: #000000;
  }


  /* positionering review */
  #review1 {
    position: relative;
    left: 18vw;
   bottom: 25vw;
 }
 #review2 {
    position: relative;
    left: 20vw;
    bottom: 29.5vw;
 }

  #review3 {
     position: relative;
     left: 18vw;
     bottom: 25vw;
  }
  /**/
  .govideo {
      position: relative;
      bottom: 10vw;
      left: 5vw;
      border: 10px solid #334766;
  }
  .dutyfilm {
      border: #334766 10px solid;
      position: relative;
      left: 5vw;
      bottom: 6vw;
  }
  .minevid {
      border: #334766 10px solid;
      position: relative;
      bottom: 5vw;
      left: 5vw;
  }
  .containers .btns {
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: black;
    background-color: sandybrown;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  .containers :hover {
    background-color: #db901f;
    color: white;
  }
  .imgreview {
    border: #334766 solid 20px;
    border-radius: 5%;
  }
 
.linksreview {
  position: relative;
  right: 30vw;
  top: 5vw;
 
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255)
}
.minecraftinfo {
  font-size: larger;
  width: 40vw;
  position: relative;
  bottom: 63vw;
  left: 15vw;
  padding: 40px;
  border: #334766 solid 20px;
  border-radius: 5%;
}
.smashinfo {
  font-size: larger;
  width: 40vw;
  position: relative;
  bottom: 59vw;
  left: 15vw;
  padding: 40px;
  border: #334766 solid 20px;
  border-radius: 5%;
}
.dutyinfo {
  font-size: larger;
  width: 40vw;
  position: relative;
  bottom: 55vw;
  left: 15vw;
  padding: 40px;
  border: #334766 solid 20px;
  border-radius: 5%;
}
.reviewbutton {
  padding: 0;
  font-size: larger;
}

