/*home */
* {
    margin: auto;
    padding: 0;
}
html {
    max-width: 100%;
    overflow-x: hidden;
}

header {
    background-color: #334756;
    height: 5.9vw;
}
body {
    background-color: #082032;
    max-width: 100%;
    overflow-x: hidden;

}
.balk1 {
    background-color: #f0a500;
    position: relative;
    top: 60px;
    color: #f0a500;
    height: 30px;
}
li {
    float: left;
}
ul {
    list-style: none;
    position: relative;
    top: 20px;
    }
.nav1 a {
    text-decoration: none;
    color: aliceblue;
    font-size: x-large;
    padding: 30px;
}
.nav1 a:hover {
    background-color: #334766;
    padding-top: 30px;
	padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    width: 80px;
}
.winkelwagen {
    position: relative;
    left: 49vw;
    top: 30px;
}
.plaatje1 {
    position: relative;
    top: 5vw;
    left: 5vw;
    border: #334766 solid 15px;
}
.tekst1 {
    position: relative;
    bottom: 16vw;
    left: 15vw;
    width: 500px;
    color: white;
}
.nav2 a {
    text-decoration: none;
    color: aliceblue;
    font-size: larger;
    padding: 4px;
    position: relative;
    top: 5px;
    right: 51.3vw;
}
.nav2 a:hover {
    background-color: #db901f;
}
.go {
    border: #334766 solid 10px;
    margin-top: 5vw;
    margin-left: 5vw;
}
h1 {
    color: white;
}
.h1 {
    position: relative;
    left: 60vw;
    bottom: 20vw;
}
.h2 {
    position: relative;
    left: 60vw;
    bottom: 20vw;
}
.h3 {
    position: relative;
    left: 60vw;
    bottom: 20vw;
}
p {
    color: white;
}
.p1 {
    width: 30vw;
    font-size: larger;
    position: relative;
    bottom: 17vw;
    left: 20vw;
}
.p2 {
    width: 30vw;
    font-size: larger;
    position: relative;
    bottom: 17vw;
    left: 20vw;
}
.p3 {
    width: 30vw;
    font-size: larger;
    position: relative;
    bottom: 17vw;
    left: 20vw;
}
.container{
    position: relative;
    width: 400px;
    background: #334766;
    padding: 20px 30px;
    border: 1px solid #082032;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .container .post{
    display: none;
  }
  .container .text{
    font-size: 25px;
    color: #666;
    font-weight: 500;
  }
  .container .edit{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 16px;
    color: #666;
    font-weight: 500;
    cursor: pointer;
  }
  .container .edit:hover{
    text-decoration: underline;
  }
  .container .star-widget input{
    display: none;
  }
  .star-widget label{
    font-size: 40px;
    color: rgb(105, 105, 105);
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
  }
  input:not(:checked) ~ label:hover,
  input:not(:checked) ~ label:hover ~ label{
    color: #fd4;
  }
  input:checked ~ label{
    color: #fd4;
  }
  input#rate-5:checked ~ label{
    color: #fe7;
    text-shadow: 0 0 20px #952;
  }
  #rate-1:checked ~ form header:before{
    content: "I just hate it ";
  }
  #rate-2:checked ~ form header:before{
    content: "I don't like it ";
  }
  #rate-3:checked ~ form header:before{
    content: "It is awesome ";
  }
  #rate-4:checked ~ form header:before{
    content: "I just like it ";
  }
  #rate-5:checked ~ form header:before{
    content: "I just love it ";
  }
  .container form{
    display: none;
  }
  input:checked ~ form{
    display: block;
  }
  form header{
    width: 100%;
    font-size: 25px;
    color: #fe7;
    font-weight: 500;
    margin: 5px 0 20px 0;
    text-align: center;
    transition: all 0.2s ease;
  }
  form .textarea{
    height: 100px;
    width: 100%;
    overflow: hidden;
  }
  form .textarea textarea{
    height: 100%;
    width: 100%;
    outline: none;
    color: #eee;
    border: 1px solid #082032;
    background: #082032;
    padding: 10px;
    font-size: 17px;
    resize: none;
  }
  .textarea textarea:focus{
    border-color: #082032;
  }
  form .btn{
    height: 45px;
    width: 100%;
    margin: 15px 0;
  }
  form .btn button{
    height: 100%;
    width: 100%;
    border: 1px solid #334766;
    outline: none;
    background: #082032;
    color: rgb(121, 121, 121);
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  form .btn button:hover{
    background: #000000;
  }
  #review1 {
    position: relative;
    left: 18vw;
   bottom: 25vw;
 }
 #review2 {
    position: relative;
    left: 18vw;
    bottom: 29.5vw;
 }

  #review3 {
     position: relative;
     left: 18vw;
     bottom: 25vw;
  }
  .govideo {
      position: relative;
      bottom: 10vw;
      left: 5vw;
      border: 10px solid #334766;
  }
  .dutyfilm {
      border: #334766 10px solid;
      position: relative;
      left: 5vw;
      bottom: 6vw;
  }
  .minevid {
      border: #334766 10px solid;
      position: relative;
      bottom: 5vw;
      left: 5vw;
  }

