/*home */
* {
    margin: auto;
    padding: 0;
}

header {
    background-color: #334756;
    height: 4.6vw;
}
body {
    background-color: #082032;
}
table {
    overflow-x:auto;
    position: relative;
    right: 3vw;
    bottom: 2vh;
    width: 40vw;
    height: 120vh;
}
td  {
    font-size: 20px;
    color: #FFFFFF;
    font-family: 'Cabin', sans-serif;
    width: 30vw;
    text-align: center;
}
.balk1 {
    background-color: #f0a500;
    position: relative;
    top: 60px;
    color: #f0a500;
    height: 30px;
}
li {
    float: left;
}
ul {
    list-style: none;
    position: relative;
    top: 20px;
    }
a {
    text-decoration: none;
    color: aliceblue;
    font-size: x-large;
    padding: 30px;
}
a:hover {
    background-color: #334766;
    padding-top: 30px;
	padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    width: 80px;
}
.winkelwagen {
    position: relative;
    left: 49vw;
    top: 30px;
}
.plaatje1 {
    position: relative;
    top: 5vw;
    left: 5vw;
    border: #334766 solid 15px;
}
.tekst1 {
    position: relative;
    bottom: 16vw;
    left: 15vw;
    width: 500px;
    color: white;
}


.persoon1 img {
/* bryan */
    margin: 100px 0px 0px 0px;
}
.persoon2 img {
/* mitchanok */
    margin: 100px 0px 0px 0px;
}
.persoon3 img {
/* nathan */
    margin: 100px 0px 0px 0px;
}
.persoon4 img {
/* daan */
    margin: 100px 0px 0px 100px;
}
.persoon5 img {
/* jesse */
    margin: 150px 0px 0px 100px;
}
article table tr td img {
    width: 15vw;
}
p {
    color: #FFFFFF;
    font-size: 24px;
}

