/*home */
* {
    margin: auto;
    padding: 0;
}
@media screen and (max-width: 480px) {
    header {
        height: 13vw;
        width: 1000vw;
    }
    .navsizemain {
        padding: 10px;
        font-size: larger;
    }
    a:hover {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
        padding-right: 15px;
        width: 15px;
    }
    
}
@media screen and (min-width: 481px) and (max-width: 768px) {
    header {
        height: 10vw;
        width: 100vw;
    }
    .navsizemain {
        padding: 15px;
        font-size: x-large;
    }
}
@media screen and (min-width: 769px) and (max-width: 1279px) {
    header {
        height: 7vw;
        width: 100vw;
    } 
    .navsizemain {
        padding: 30px;
        font-size: xx-large;
    }
}
@media screen and (min-width: 1280px) {
    header {
        height: 4vw;
        width: 100vw;
    } 
    .navsizemain {
        padding: 40px;
        font-size: xx-large;
    }
    a:hover {
        padding-top: 20px;
        padding-bottom: 15px;
        padding-left: 40px;
        padding-right: 40px;
        width: 15px;
    }
}


header {
    background-color: #334756;
}
html {
    padding: 2px;
}
body {
    background-color: #082032;
}
table {
    overflow-x:auto;
    position: relative;
    right: 3vw;
    bottom: 2vh;
    width: 40vw;
    height: 120vh;
}
td  {
    font-size: 20px;
    color: #FFFFFF;
    font-family: 'Cabin', sans-serif;
    width: 30vw;
    text-align: center;
}
.balk1 {
    background-color: #f0a500;
    position: relative;
    top: 60px;
    color: #f0a500;
    height: 30px;
}
li {
    float: left;
}
li a:hover:not(.active) {
    background-color: #334766;
  }
  .active {
    background-color:#334766 ;
  }

ul {
    list-style: none;
    position: relative;
    top: 20px;
    }
a {
    text-decoration: none;
    color: aliceblue;
}
a:hover {
    background-color: #334766;
}
.winkelwagen {
    position: relative;
    left: 49vw;
    top: 30px;
}
.plaatje1 {
    position: relative;
    top: 5vw;
    left: 5vw;
    border: #334766 solid 15px;
}
.tekst1 {
    position: relative;
    bottom: 16vw;
    left: 15vw;
    width: 500px;
    color: white;
}



.persoon1 img {
/* bryan */
    margin: 100px 0px 0px 0px;
}
.persoon2 img {
/* mitchanok */
    margin: 100px 0px 0px 0px;
}
.persoon3 img {
/* nathan */
    margin: 100px 0px 0px 0px;
}
.persoon4 img {
/* daan */
    margin: 100px 0px 0px 100px;
}
.persoon5 img {
/* jesse */
    margin: 150px 0px 0px 100px;
}
article table tr td img {
    width: 15vw;
}
p {
    color: #FFFFFF;
    font-size: 24px;
}

